.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gistList {
  list-style: none;
}

.sidebar {
  border-right: 1px solid gainsboro;
}

.gist-item a {
  word-wrap: break-word;
  font-size: 12px;
}

.gistResultContainer {
  padding-left: 40px;
  padding-right: 40px;
}

.avatarImg {
  margin-right: 6px;
  border-radius: 50%;
}

a:hover {
  text-decoration: none;
}